Stat for retransmitted bytes

The non-standardized Chromium getStats contains the following stat:
```
// The total retransmission bandwidth, in bits per second.
VideoBwe.googRetransmitBitrate
```
Is this useful? Should we add retransmitted bytes counters to the spec? We have bytesSent/bytesReceived on various stats dictionaries already: RTCTransportStats, RTCDataChannelStats, RTC[In/Out]boundRTPStreamStats and RTCIceCandidatePairStats. Does the existing bytesSent/bytesReceived include or exclude bytes that are retransmitted?

bytesSent references RFC 3550 section 6.4.1, which says "The total number of payload octets (i.e., not including header or padding) transmitted in RTP data packets by the sender since starting transmission up until the time this SR packet was generated."

At the RTP level, I don't think "retransmitted" bytes are treated specially. So they're included.
I assume (without checking) that "retransmitted" is packets sent in response to NACK or other packet loss indicators - but the response to NACK isn't specified in RFC 4585.

@vr000m is there a metric that can be usefully referenced?



I believe we had a discussion in Sapporo or before (Seattle) about this and at the time it was not easy to do. We could state `packetRetransmitted` and `bytesRetransmitted` corresponds to the packets sent in RFC4585 format.

If the FEC payload is used for retransmissions (FEC of 1 packet), this could become easier. 
https://tools.ietf.org/html/draft-ietf-payload-flexible-fec-scheme-03.

If there is interest, I could try to define something within this spec or take it to the IETF/XRBLOCK.

What would be "RFC 4585 format"?
When I scanned RFC 4585, it seemed to be about defining signals (NACK, SLI, PLI), not the responses to them - sender may respond with a retransmission of the original packet, a FEC packet, or by retargeting the dependency structure of the stream to avoid depending on the lost frame (ultimate version of this is sending a new I-frame); I don't see how this could be counted in a sensible way.
If flexfec, would FEC packets sent in the absence of packet loss be counted as "retransmission"?

I'm confused here, and that's not a good sign.

Maybe it's in the definition of the retransmission payload? Flexfec? Varun to figure out.