What is fractionLost for a local incoming media stream?

For a remote report it makes sense to provide the RFC3550 value, because it is sent in the RTCP RR:

      The fraction of RTP data packets from source SSRC_n lost since the
      previous SR or RR packet was sent, expressed as a fixed point
      number with the binary point at the left edge of the field.  (That
      is equivalent to taking the integer part after multiplying the
      loss fraction by 256.)

However, for a local report for an incoming media stream, the fractionLost is calculated since the last RR or is it lostPackets/expectedPackets since the beginning of the session ??

Hm. fractionLost is only defined in the RTCReceivedRTPStreamStats dictionary, which is split further into RTCRemoteInbound and RTCInbound.
The number (calculated according to RFC 3550 section 6.4.1) doesn't make sense for stats, since it contains information about only the last reporting interval - and we have no representation of reporting intervals, and specific advice against doing that form of stats.

This is the only stat we have where 3550 gives it as "since the previous SR or RR packet was sent".

Proposal: Remove the stat. It can be calculated, if needed, as (newStats.RTCRemoteInbound.packetsLost - oldStats.RTCRemoteInbound.packetsLost) / (newStats.RTCRemoteInbound.packetsReceived - oldStats.RTCRemoteInbound.packetsReceived) (warning: pseudocode!)



For the RTCInbound, you are correct, the psuedocode works and we should not expose the fractionLost. However, for consistency with other RTCP RR metrics, we should show it in RTCRemoteInbound. Since we populate RTT and jitter and other metrics from the RTCP RR anyway.

If we add the RTCP RR values, we should put the last RR timestamp as well. 