Add field to RTCIceCandidateStats indicating whether or not the candidate has been freed

RFC5245 section 8.3 talks about a candidate being "freed". I assume that for TURN candidates, this means sending a refresh request with a lifetime of 0, and for host UDP/TCP candidates, it means closing the socket.

It would be useful to have a field (on local candidates) indicating whether or not the candidate has been freed. This gives an indication of how many sockets and TURN allocations WebRTC is consuming, which can be useful information.

I'd be hesitant to claim that it's normal to send refresh(0) when freeing a TURN candidate.

RFC 5766 only says (section 5):

   The time-to-expiry is the time in seconds left until the allocation
   expires.  Each Allocate or Refresh transaction sets this timer, which
   then ticks down towards 0.  By default, each Allocate or Refresh
   transaction resets this timer to the default lifetime value of 600
   seconds (10 minutes), but the client can request a different value in
   the Allocate and Refresh request.  Allocations can only be refreshed
   using the Refresh request; sending data to a peer does not refresh an
   allocation.  When an allocation expires, the state data associated
   with the allocation can be freed.

Only use of the word "freed" I could find.

But yes, knowing if a candidate has been freed makes sense.


Both Chrome and Firefox do that so I assumed it was standard.

Also, from RFC 5766 section 2.2:

> Once a client no longer wishes to use an allocation, it should delete the allocation using a Refresh request with a requested lifetime of 0.



Ah - I was looking for "free", not "delete". Should have looked more carefully.
Then it seems clear that freeing/deleting a candidate is intended to be a client-driven event, and we don't have to sync with anything - we just say "when the UA decides to delete a candidate, it marks it as follows in the stats". Probably we should also mark it as deleted on 437 allocation mismatch responses from the TURN server.
Would a 'bool deleted default="false"' be appropriate? Or do we need to distinguish between "client-deleted" and "server-deleted" candidates?

For a start, I think "bool deleted default='false'" is fine. If we start getting into "why was it deleted?" things will get more complicated.

I just noticed: is there any way to tell if an RTCIceCandidateStats is for a local or remote candidate? Or what transport it's associated with? Should I file more issues or did I miss something?

Argh - I thought I'd added those as issues; they were noted in a previous discussion (I think between @vr000m and I). Please file more issues.
You can tell if a candidate is local or remote when it's part of a pair, but as noted, not all candidates are going to be part of a pair.