Is bytesReceived really available for RTCRemoteInboundRTPStreamStats?

I am not sure how bytesReceived can be calculated on the sender side from RTCP receiver reports.  Am I missing something or should this stat be moved from RTCReceivedRTPStreamStats to RTCInboundRTPStreamStats?

"calculated as defined in" https://tools.ietf.org/html/rfc3550#section-6.4.1 which is Sender Report.

From Receiver Report https://tools.ietf.org/html/rfc3550#section-6.4.2 *"the five words of sender information are omitted (these are the NTP and RTP timestamps and sender's packet and octet counts)"*

make a PR with 6.4.2 to point to the correct section.

Assigning to @vr000m since he promised to check it.


RFC 3550 section 6.4.2 seems to say that the sender octets are omitted from the RR.