bytesReceived for local inbound could have a clearer definition

The definition says that it is "calculated as defined in [RFC3550] section 6.4.1", though I think it means "... the cumulative number of RTP payload bytes received, calculated in the same manner as `sender's octet count` as defined in [RFC3550] section 6.4.1". 